/* @font-face {
  font-family: 'Kosugi';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kosugi-v6-latin_japanese-regular.eot');
  src: local(''), url('../fonts/kosugi-v6-latin_japanese-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kosugi-v6-latin_japanese-regular.woff2') format('woff2'),
  url('../fonts/kosugi-v6-latin_japanese-regular.woff') format('woff'),
  url('../fonts/kosugi-v6-latin_japanese-regular.ttf') format('truetype'),
  url('../fonts/kosugi-v6-latin_japanese-regular.svg#Kosugi') format('svg');
} */

.container {
  display: flex;
  flex-wrap: wrap;
}

.container * {
  letter-spacing: -0.1em;
  text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, Roboto;
}

.profile {
  border: solid 2px;
  border-radius: 2vh;
  padding: 10px;
  background-color: lightgoldenrodyellow;
}

@media (min-width: 960px) {
  .contents {
    max-width: 720px;
  }
  .profile {
    width: 200px;
  }
}

.profile_image {
  margin-bottom: 10px;
}

.information {
  border: solid 2px;
  background-color: lightskyblue;
  border-radius: 1vh;
  margin-bottom: 10px;
  text-align: center;
  padding: 20px;
  font-size: 36px
}

.blog_list {
  background-color: lightblue;
  border: solid 2px;
  border-radius: 2vh;
  padding: 10px;
  margin-bottom: 3px;
  display: flex;
}

.blog_list span {
  font-size: 16px;
}

.blog_list img {
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
}
