/* フォントを追加したい場合はここに書く */

@font-face {
  font-family: "Komorebi";
  src: url("../fonts/komorebi-gothic.woff2");
}

@font-face {
  font-family: "corp";
  src: url("../fonts/corp_min.woff2");
}

/*
共通ルールを策定
h1 Linkはaタグが優先されるため、JSXで別途指定する
*/

a:link, a:visited {
  color: black;
  text-decoration: none;
  font-family: "Komorebi";
  font-display: swap;
}

p {
  font-family: 'Komorebi';
  font-display: swap;
}

h1, h2, h3, h4, h5 {
  font-family: "corp";
  font-display: swap;
}
